#root,
html,
body {
  height: 100vh; /*Height of application take full height of the screen*/
}

body {
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box; /*Makes sure that when you count width and height of elements, considers padding, margin, etc.*/
}

html {
  scroll-behavior: smooth; /*creates smooth scrolling behavior*/
}
